@page "/products/create"
@using Microsoft.EntityFrameworkCore
@inject AppDbContext _context

<h1>New Product</h1>

@* Usar EditForm que é um taghelper do blazor que traz boas funcionalidades
para gerenciar formulario *@

@* Model="" do EditForm vincula ao modelo que foi especificado no @code
    tudo que for editado no seu _model será refletido no EditForm e vice-versa (two-way-binding)
 *@
<EditForm Model="_model" OnValidSubmit="@HandleSubmitAsync">

    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        @* Fazendo o binding da propriedade Title do modelo passado (Product) *@
        <InputText class="form-control" type="text" id="title" @bind-Value="_model.Title" />
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        @* Fazendo o binding da propriedade Price do modelo passado (Product) *@
        <InputNumber class="form-control" type="number" id="Price" @bind-Value="_model.Price" />
    </div>

    <div class="mb-3">
        <label for="CategoryId" class="form-label">Categories</label>
        <InputSelect id="CategoryId" @bind-Value="_model.CategoryId" class="form-control">
            @foreach (var category in _categories)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </InputSelect>
    </div>

</EditForm>

@code {
    private Product _model = new();
    private List<Category> _categories = new();

    protected override async Task OnInitializedAsync() {
        _categories = await _context
            .Categories
            .AsNoTracking()
            .ToListAsync();
    }
    async Task HandleSubmitAsync()
    {

    }

}