@page "/products/create"
@using Models

<h1>New Product</h1>

@* Usar EditForm que é um taghelper do blazor que traz boas funcionalidades
para gerenciar formulario *@

@* Model="" do EditForm vincula ao modelo que foi especificado no @code
    tudo que for editado no seu _model será refletido no EditForm e vice-versa (two-way-binding)
 *@
<EditForm Model="_model">

</EditForm>

@code {
    private Product _model = new();
}